{form form}

    <label n:name="text">English text</label>
    <textarea n:name="text" cols="30" rows="10" class="form-control"></textarea>
    <input type="submit" class="btn btn-success" n:name="submit">

    <div class="result">{ifset $result}{$result}{/ifset}</div>


{/form}