<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pig Latin Translator</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/bundle.css">
</head>

<body>
	{*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}


	<div class="container-all">
		{include content}
	</div>


	{block scripts}
	<script src="{$basePath}/js/netteform.js"></script>
	{/block}
</body>
</html>
