
$BG_DEV: #9e9e9e;
$WHITE: #fff;


body{
  font-family: sans-serif;
  //background: $BG_DEV;
  .container-all{
    h1{
      color: $BG_DEV;
    }
    padding-top: 30px;
    input[type="submit"]{
      margin-top: 25px;
    }
    .result{
      margin-top: 50px;
      border: 1px solid $BG_DEV;
      min-height: 60px;
      padding: 15px;

    }
  }
}







